body
{
    text-align: center;

    background-color: #283149;
}

h1
{
    font-family: 'Arvo', cursive;
    font-size: 5rem;

    color: #dbedf3;
    text-shadow: 3px 0 #da0463;
}

footer
{
    font-family: sans-serif;

    color: #dbedf3;
}

.w
{
    background-image: url('images/tom1.png');
}

.a
{
    background-image: url('images/tom2.png');
}

.s
{
    background-image: url('images/tom3.png');
}

.d
{
    background-image: url('images/tom4.png');
}

.j
{
    background-image: url('images/crash.png');
}

.k
{
    background-image: url('images/kick.png');
}

.l
{
    background-image: url('images/snare.png');
}

.set
{
    margin: 10% auto;
}

.game-over
{
    opacity: .8;
    background-color: red;
}

.pressed
{
    opacity: .5;
    box-shadow: 0 3px 4px 0 #dbedf3;
}

.red
{
    color: red;
}

.drum
{
    font-family: 'Arvo', cursive;
    font-size: 5rem;
    font-weight: 900;
    line-height: 2;

    display: inline-block;

    width: 150px;
    height: 150px;
    margin: 10px;

    text-align: center;

    color: #da0463;
    border: 10px solid #404b69;
    border-radius: 15px;
    outline: none;
    background-color: white;
    text-shadow: 3px 0 #dbedf3;
}
